<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jing.sample">

    <!--
    android:name="com.jing.sample.notimportant.MyApp"
    android:name=".test.feature.crash.CrashApplication"
    -->
    <application
        android:name="com.jing.sample.notimportant.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".notimportant.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".notimportant.TestActivity" />
        <activity android:name=".notimportant.BaseActivity" />
        <activity android:name=".test.ui.supportlibrary.PercentActivity" />
        <activity
            android:name=".test.ui.supportlibrary.DesignActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".test.component.intent.IntentActivity" />
        <activity android:name=".test.component.loadermanager.LoaderCustomActivity"></activity>
        <activity android:name=".test.feature.crash.CrashExceptionActivity" />
    </application>

</manifest>